/*--------------------------------------------------------------
## Three Card Block Styling
--------------------------------------------------------------*/

.three-card .card {
    transition: all 0.3s ease;
    &:hover {
        border-color: var(--flame);
        transform: translateY(-5px);
    }
}